<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    The Very Best Solution for your Transportation Needs
                </h2>
                <hr class="light" />
                <p class="text-faded">
                    Matt Feeney Chauffeurs is a family run business dedicated to
                    Top Quality Service and attention to detail. Looking for
                    professional, safe and punctual service with a driver who is
                    willing to go that 'extra mile' then Matt Feeney Chauffeurs
                    is best placed to serve your needs.
                </p>

                <p class="text-faded">
                    We will ensure that your journey is comfortable and
                    effortless and that you arrive on time and in style.
                    Discretion and attention to detail guaranteed.
                </p>
            </div>
        </div>
    </div>
</section>
