<form action="https://formspree.io/cian10126767@gmail.com" method="POST">
    <input
        type="text"
        name="name"
        placeholder="Client Name"
        style="margin-bottom: 20px"
    />
    <input
        type="email"
        name="_replyto"
        placeholder="Your email address"
        style="margin-bottom: 20px"
    />
    <textarea
        name="content"
        placeholder="Your enquiry here"
        style="margin-bottom: 20px"
        rows="6"
    ></textarea>
    <input type="submit" value="Send" />
    <input type="hidden" name="_next" value="#" />
    <input type="text" name="_gotcha" style="display:none" />
</form>
