<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane wow bounceIn text-primary"></i>
                    <h3>Corporate Transfers</h3>
                    <p class="text-muted">
                        As one of our business clients, you can make the most
                        efficient use of your time in the quiet and comfortable
                        surroundings of our executive class transport.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-building wow bounceIn text-primary"
                        data-wow-delay=".1s"
                    ></i>
                    <h3>Corporate Roadshows</h3>
                    <p class="text-muted">
                        Our Corporate and Financial Road Show chauffeur service
                        cater to the busy executive who has multiple
                        appointments. We provide logistics to meet your unique
                        requirements.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-car wow bounceIn text-primary"
                        data-wow-delay=".2s"
                    ></i>
                    <h3>Luxury Tours</h3>
                    <p class="text-muted">
                        Make your vacation to Ireland unforgettable. Just tell
                        us what you are looking for and sit back and relax while
                        letting us plan your perfect trip with a few surprises
                        thrown in on the way.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-briefcase wow bounceIn text-primary"
                        data-wow-delay=".3s"
                    ></i>
                    <h3>Mobile Office</h3>
                    <p class="text-muted">
                        In-car Wi-Fi allows you conduct your business
                        efficiently and effortlessly, on the move.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-diamond wow bounceIn text-primary"
                    ></i>
                    <h3>Weddings</h3>
                    <p class="text-muted">
                        We can drive you on your most special day. Please ask
                        about our wedding offer which includes a wonderful
                        classic Daimler Sovereign for you and our luxury
                        Mercedes for your entourage.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-address-card wow bounceIn text-primary"
                        data-wow-delay=".1s"
                    ></i>
                    <h3>Meet & Greet</h3>
                    <p class="text-muted">
                        You only get one opportunity to make a first impression
                        why not make a great first impression by having your
                        client/guest picked up in our luxury Mercedes S Class.
                        Quick and convenient access to the airport’s VIP car
                        park ensures a hassle free transfer and the start of a
                        memorable trip.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-eye wow bounceIn text-primary"
                        data-wow-delay=".2s"
                    ></i>
                    <h3>Sightseeing Service</h3>
                    <p class="text-muted">
                        Here at Matt Feeney Chauffeurs we can provide you with
                        site seeing idea's and we plan it, or you may design
                        your own trip and we can delight you!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i
                        class="fa fa-4x fa-question-circle wow bounceIn text-primary"
                        data-wow-delay=".3s"
                    ></i>
                    <h3>Requests</h3>
                    <p class="text-muted">
                        If there is anything else we can help you with please do
                        not hesitate to ask.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
