<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    What You Can Expect
                </h2>
                <hr class="light" />
                <p class="text-faded" style="text-align: left;">
                    
                    <ul class="expectations">
                        <li style="padding: 10px 0 10px 0;">Yours reservation confirmed via email with your chauffeurs name and contact number.</li>
                        <li style="padding: 10px 0 10px 0;">We monitor your flight electronically and time your pickup accordingly.</li>
                        <li style="padding: 10px 0 10px 0;">You will be met in the arrivals hall by your chauffeur.</li>
                        <li style="padding: 10px 0 10px 0;">Parking in the VIP car park close to the terminal, ensuring a quick and convenient departure from the airport.</li>
                        <li style="padding: 10px 0 10px 0;">In Car Refreshment</li>
                        <li style="padding: 10px 0 10px 0;">Wi-FI equipped</li>
                        <li style="padding: 10px 0 10px 0;">Pride in our on-time record</li>
                        <li style="padding: 10px 0 10px 0;">Driver; Professionally dressed and your car valeted for every journey.</li>
                        <li style="padding: 10px 0 10px 0;">Matt Feeney Chauffeurs prides itself on being wholly discreet and we treat our clients with absoulute confidentiality at all times.</li>
                        <li style="padding: 10px 0 10px 0;" >Secure credit card payment or pay by corporate account - full itemised invoices, in-car secure card terminal.</li>

                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
